body {
	font-family: 15px/1.5 Arial, Helvetica, sans-serif;
	justify-content: centre;
	align-items: centre;
}

h1 {
    color: #FFFFF;
	font-size: 36px;
	padding-top: 20px;
	align: centre;
}

.container{
  width: 80%;
  margin: auto;
  align-items: centre;
}